site_name: werr
site_description: werr is a simple fast python project task runner
site_url: https://github.com/pages/jhjn/werr
theme:
  name: material
  logo: https://openmoji.org/data/color/svg/2699.svg
  features:
    - toc.integrate
    - content.code.copy
    # @@@ fix syntax highlighting
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
repo_url: https://github.com/jhjn/werr
repo_name: jhjn/werr
extra_css:
  - no_nav_title.css
markdown_extensions:
  - attr_list
